*{
    margin: 0px;
    border: 0px;
    padding: 0;

}
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: xx-large;
}
.Link{
    border: 2px solid gray;
    padding: 3px 16px;
    background-color:lightskyblue;
    border-radius: 15%;
}
